.regForm{
    display: flex;
    justify-content: space-around;
}

#user_info_data{
    border: 1px solid yellow;
}

#user_account_data{

}

.info-input{
    width: 50px;
}

.success_text{
    color: green;
}
