#article-text{
    display: block;
    background-color:#383838;
}


.article-textarea{
    /*display: inline-block;*/
    display: block;
    box-sizing: border-box;
    resize: none;
    width: 60%;
    background-color: lightyellow;
}

#article-textarea{
    background-color: lightyellow;
}


.article-input-box{
    background-color: #383838;
}

.article-rel{
    display: block;
}

.article-label{
    color: #ffce2d;
    font-size: 15px;
}

.shower-item{

}

/*.text{
    color:#ffce2d;
}*/
.bg{
    background-color:#383838;
}